# Python Assignment 4

1. What exactly is []?
2. In a list of values stored in a variable called spam, how would you assign the value &#39;hello&#39; as the
third value? (Assume [2, 4, 6, 8, 10] are in spam.)
Let&#39;s pretend the spam includes the list [&#39;a&#39;, &#39;b&#39;, &#39;c&#39;, &#39;d&#39;] for the next three queries.
3. What is the value of spam[int(int(&#39;3&#39; * 2) / 11)]?
4. What is the value of spam[-1]?
5. What is the value of spam[:2]?
Let&#39;s pretend bacon has the list [3.14, &#39;cat,&#39; 11, &#39;cat,&#39; True] for the next three questions.
6. What is the value of bacon.index(&#39;cat&#39;)?
7. How does bacon.append(99) change the look of the list value in bacon?
8. How does bacon.remove(&#39;cat&#39;) change the look of the list in bacon?
9. What are the list concatenation and list replication operators?
10. What is difference between the list methods append() and insert()?
11. What are the two methods for removing items from a list?
12. Describe how list values and string values are identical.
13. What&#39;s the difference between tuples and lists?
14. How do you type a tuple value that only contains the integer 42?
15. How do you get a list value&#39;s tuple form? How do you get a tuple value&#39;s list form?
16. Variables that &quot;contain&quot; list values are not necessarily lists themselves. Instead, what do they
contain?
17. How do you distinguish between copy.copy() and copy.deepcopy()?

In [ ]:
# ques 1
# [] is an empty list.

x = []
type(x)

list

In [ ]:
# ques 2
spam = [2, 4, 6, 8, 10] 
spam[2] = 'hello'
spam

[2, 4, 'hello', 8, 10]

In [ ]:
# ques 3

spam = ['a','b','c','d']

print(spam[int(int('3' * 2) / 11)]) # 'd'

# ques 4
print(spam[-1]) # 'd'

# ques 5
print(spam[-2]) # 'c'

d
d
c

In [ ]:
# ques 6

''' index method will return the 1st index of a perticular element that you pass as a parameter '''
bacon =  [3.14, 'cat', 11, 'cat', True]
print(bacon.index('cat')) # 1

# ques 7 
''' append will add the element in the list at the end '''
bacon.append(99)
print(f'{bacon}')

#ques 8
''' remove method will remove the perticular element that you pass as a parameter ''' 
bacon.remove('cat')
print(f'{bacon}')

1
[3.14, 'cat', 11, 'cat', True, 99]
[3.14, 11, 'cat', True, 99]

In [ ]:

l = [2,3,4]
m = [5,7,8]
n = l+m
print(n)

[2, 3, 4, 5, 7, 8]

In [ ]:
# ques 9
'''
The operator for list concatenation is +, while the operator for replication is *.
'''

In [ ]:
# ques 10
''' Append add the element always at the end of the list whereas insert add a element at a perticular index 
    syntax
    append(element)
    insert(index,element)
'''

#Append
l = [1,2,3,4,5,6] 
l.append(100)
print(l)

#Insert

l.insert(2,300)
print(l)

[1, 2, 3, 4, 5, 6, 100]
[1, 2, 300, 3, 4, 5, 6, 100]

In [ ]:

# ques 11
''' there are 2 methods removing the elements from list pop and remove
    pop method removes the the last element of the list.
    remove method removes the perticular element that passes as a parameter.
 '''

#pop
l = [2,4,5,5,6,7,7]
l.pop()
print(l)

#remove
l.remove(4)
print(l)

[2, 4, 5, 5, 6, 7]
[2, 5, 5, 6, 7]

In [ ]:
# ques 12
'''
Both lists and strings are in sequence and can be passed to len(), have indexes and slices, be used in for loops,
be concatenated or replicated, and be used with the in and not in operators.
'''

In [ ]:
# ques 13
'''
        List                                                     Touple
      mutable                                                   imutable    
    represention - []                                         () or seperate the elements by ,. 
  
'''        

list_1 = [1,2,3]
touple_1 = (5,6,7)

list_1[2]='a'
print(list_1)

touple_1[2] ='b' # will return TypEerror
print(touple_1)

[1, 2, 'a']
(5, 6, 7)

In [ ]:
# ques 14

t = (42,)
print(type(t))

<class 'tuple'>

In [ ]:
#  ques 15

l = [1,2,4,5,6]
t = tuple(l)
print(t)


t1 = (5,67,7,0)
l1 = list(t1) 
print(l1)

(1, 2, 4, 5, 6)
[5, 67, 7, 0]

In [ ]:
# ques 16

'''
Variables will contain references to list values rather than list values themselves.
'''

In [ ]:
# ques  17
'''
copy.deepcopy() = In the case of deep copy, a copy of the object is copied into another object.
It means that any changes made to a copy of the object do not reflect in the original object.
 
copy.copy() =  In the case of shallow copy, a reference of an object is copied into another object.
It means that any changes made to a copy of an object do reflect in the original object.
'''